<!DOCTYPE html>
<html lang="en">
<head>
    <title>About us</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- End fonts -->

    <!-- core:css -->
    <link rel="stylesheet" href="../static/vendors/core/core.css">
    <!-- endinject -->

    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->

    <!-- inject:css -->
    <link rel="stylesheet" href="../static/fonts/feather-font/css/iconfont.css">
    <link rel="stylesheet" href="../static/vendors/flag-icon-css/css/flag-icon.min.css">
    <!-- endinject -->

    <!-- Layout styles -->
    <link rel="stylesheet" href="../static/css/demo1/style.css">
    <!-- End layout styles -->

    <link rel="shortcut icon" href="../static/images/favicon.png" />

    <!--  <a href="#" class="sidebar-brand">-->
    <!--    Noble<span>UI</span>-->
    <!--  </a>-->
</head>
<body>
<div class="main-wrapper">
    <!-- Your existing navigation sidebar code -->
    <nav class="sidebar">
        <div class="sidebar-header">
            <a href="#" class="sidebar-brand">
                Forum<span>System</span>
            </a>
        </div>
    </nav>
    <div class="page-wrapper">
        <!-- Your existing navigation bar code -->
        <nav class="navbar navbar-dark bg-primary">
            <nav class="navbar navbar-light bg-light">
                <form class="d-flex ms-auto">
                    <div class='myDiv'>
                        <a th:href="@{/auth/login}" class="btn btn-primary" style='margin-right:16px'>Login</a>
                        <a th:href="@{/auth/register}" class="btn btn-primary" style='margin-right:16px'>Register</a>
                    </div>
                </form>
            </nav>
        </nav>
        <!-- partial -->

        <div class="page-content">
            <div class="container">
                <h1>About Us</h1>
                <br>
                <br/>
                <section>
                    <h3> Introduction</h3>
                    <br>
                    <p>Welcome to Crypto Forum, the central hub for cryptocurrency enthusiasts.
                        We're excited to introduce you to our platform, where the global cryptocurrency community comes together to learn, share, and connect.
                        At Crypto Forum, we believe in the power of knowledge and the strength of community. Join us on this exciting journey into the world of cryptocurrencies.</p>
                    <br>
                </section>
                <section>
                    <h3>Mission Statement</h3>
                    <br>
                    <p>Our mission at Crypto Forum is clear: we are dedicated to providing a secure and engaging space for cryptocurrency enthusiasts to discuss, learn, and grow.
                        We are committed to fostering a community that values transparency, inclusivity, and innovation.
                        Through our platform, we aim to empower individuals with the information and connections needed to navigate the ever-evolving world of cryptocurrencies.</p>
                    <br>
                </section>
                <section>
                    <h3>Vision</h3>
                    <br>
                    <p>We envision a future where Crypto Forum plays a pivotal role in shaping the cryptocurrency landscape.
                        Our vision is to contribute to the growth and maturation of the industry, helping both newcomers and experienced users thrive in the digital currency ecosystem.
                        We aspire to become a trusted resource for anyone interested in cryptocurrencies, blockchain technology, and decentralized finance.</p>
                    <br>
                </section>
                <section>
                    <h3>Core Values</h3>
                    <br>
                    <p>Our core values include integrity, transparency, inclusivity, and trust. These values underpin everything we do at Crypto Forum.
                        We're committed to maintaining a secure and welcoming environment that encourages respectful discussions, fosters connections,
                        and promotes the exchange of ideas within the cryptocurrency community.</p>
                    <br>
                </section>
                <section>
                    <h3>Community Focus</h3>
                    <br>
                    <p>At the heart of Crypto Forum is our strong emphasis on community.
                        We believe that the strength of our forum lies in the unity and collaboration of our members.
                        Here, you'll find a space where cryptocurrency enthusiasts can engage in meaningful interactions, forge valuable connections,
                        and participate in insightful discussions. Join us and be part of this vibrant community.</p>
                    <br>
                </section>
                <section>
                    <h3>Team</h3>
                    <br>
                    <p>Meet the dedicated individuals behind Crypto Forum. Our team members are not just administrators - they are cryptocurrency enthusiasts, just like you.
                        With a wealth of experience in the field, our team is passionate about providing you with the best forum experience possible.
                        Together, we are committed to helping you explore the world of cryptocurrencies.</p>
                    <br>
                </section>
                <section>
                    <h3>History</h3>
                    <br>
                    <p>Founded in 2023, Crypto Forum has its roots in a shared passion for cryptocurrencies.
                        The idea for this platform was born from a desire to create a welcoming space where enthusiasts could come together, learn, and grow.
                        We started Crypto Forum because we saw a need for a dedicated forum that puts community and knowledge at the forefront.</p>
                    <br>
                </section>
                <section>
                    <h3>User Benefits</h3>
                    <br>
                    <p>By joining Crypto Forum, users can gain access to a wealth of knowledge, valuable networking opportunities, and a sense of belonging within the cryptocurrency community.
                        Whether you're a newcomer seeking guidance or a seasoned expert looking to share your insights, you'll find a home here at Crypto Forum.</p>
                    <br>
                </section>
                <section>
                    <h3>Contact Information</h3>
                    <br>
                    <p>Have questions or suggestions? Our team is always here to assist you.
                        Feel free to reach out to us at <strong><a href="mailto:admins.cryptoforum@gmail.com">admins.cryptoforum@gmail.com</a></strong>
                        for inquiries, feedback, or support.
                        We're just an email away, and we value your input as we continuously improve our forum.</p>
                    <br>
                </section>
                <section>
                    <h3>Testimonials</h3>
                    <br>
                    <p>Don't just take our word for it; hear what our members have to say about their experience at Crypto Forum.
                        Their feedback, reviews, and experiences speak to the value of our platform and the impact it has on the cryptocurrency community.</p>
                    <br>
                </section>
                <section>
                    <h3>Future Plans</h3>
                    <br>

                    <p>We have exciting plans for the future, including the introduction of new features and improvements to enhance your forum experience.
                        Stay tuned as we evolve and grow, helping you stay at the forefront of the cryptocurrency world.</p>
                    <br>
                </section>
                <section>
                    <h3>Conclusion</h3>
                    <br>
                    <p>Join us at Crypto Forum and be part of our growing cryptocurrency community.
                        We thank you for visiting our platform and look forward to welcoming you to a space where you can shape the future of cryptocurrency discussions.
                        Together, we'll explore, learn, and thrive in the exciting world of cryptocurrencies.</p>
                    <br/>
                </section>
            </div>
        </div>
    </div>
</div>

<!-- Add your scripts here -->

</body>
</html>
