<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>User Page</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- End fonts -->

    <!-- core:css -->
    <link rel="stylesheet" href="../static/vendors/core/core.css" th:href="@{/vendors/core/core.css}">
    <!-- endinject -->

    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <link rel="stylesheet" href="../static/vendors/flatpickr/flatpickr.min.css"
          th:href="@{/vendors/flatpickr/flatpickr.min.css}">
    <!-- inject:css -->
    <link rel="stylesheet" href="../static/fonts/feather-font/css/iconfont.css"
          th:href="@{/fonts/feather-font/css/iconfont.css}">
    <link rel="stylesheet" href="../static/vendors/flag-icon-css/css/flag-icon.min.css"
          th:href="@{/vendors/flag-icon-css/css/flag-icon.min.css}">
    <!-- endinject -->

    <!-- Layout styles -->
    <link rel="stylesheet" href="../static/css/demo1/style.css" th:href="@{/css/demo1/style.css}">
    <!-- End layout styles -->

    <link rel="shortcut icon" href="../static/images/favicon.png" th:href="@{/images/favicon.png}">
</head>
<body class="sidebar-dark">
<div class="main-wrapper">

    <!-- partial:../../partials/_sidebar.html -->
    <nav class="sidebar" th:replace="~{UserPage.html :: sidebar}">

    </nav>
    <div class="page-wrapper">

        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar" th:replace="~{UserPage.html :: navbar}">

        </nav>
        <!-- partial -->

        <div class="page-content">
            <div class="row">
                <div>
                    <h2 class="d-flex mb-3 mb-md-3 justify-content-center"
                        th:text="${'All users'}">
                        Welcome to CryptoForum</h2>
                </div>

            </div>

            <div class="row">


                <div class="col-sm-2 grid-margin stretch-card me-xl-6 ms-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">Filter Options</h6>

                            <form class="forms-sample" th:action="@{/users/admin}" th:object="${filterDto}"
                                  method="get">
                                <div class="mb-3">
                                    <label for="exampleInputTitle" class="form-label">First name</label>
                                    <input type="text" class="form-control" th:field="*{firstName}"
                                           id="exampleInputTitle"
                                           autocomplete="off" placeholder="First name">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputContent" class="form-label">Username</label>
                                    <input type="text" class="form-control" th:field="*{username}"
                                           id="exampleInputContent" autocomplete="off" placeholder="Username">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputUsername" class="form-label">Email</label>
                                    <input type="text" class="form-control" th:field="${filterDto.email}"
                                           id="exampleInputUsername" autocomplete="off" placeholder="Email">
                                </div>
                                <div class="d-flex align-items-center">
                                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                                    <a th:href="@{/users/admin}" class="btn btn-danger">Reset</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 align-items-center justify-content-center">
                    <div class="card rounded" th:each="user : ${users}">
                        <div class="card-body">

                            <div class="d-flex justify-content-between align-items-center pb-2 mb-2">

                                <div class="d-flex align-items-center">
                                    <figure class="me-2 mb-0">
                                        <img th:src="${user.getProfilePhoto()}" class="img-sm rounded-circle"
                                             alt="profile">
                                    </figure>
                                    <div>
                                        <h6 th:text="${user.getUsername()}">Username</h6>

                                        <p class="text-muted tx-13" th:text="${user.getEmail()}">Email</p>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <a type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-lg text-muted pb-3px" data-feather="settings"></i>
                                    </a>


                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <div th:if="${user.isAdmin()==false}">
                                            <form th:action="@{/users/{userId}/block(userId=${user.getId()})}"
                                                  method="post">
                                                <button type="submit"
                                                        class="d-flex align-items-center text-muted me-4"
                                                        style="background: none; padding: 0; border: none">
                                                    <a class="dropdown-item d-flex align-items-center"
                                                       href="javascript:"><i
                                                            data-feather="eye" class="icon-sm me-2"></i> <span
                                                            class="" style="color: red">Block/Unblock</span></a>
                                                </button>
                                            </form>
                                            <div>
                                                <form th:action="@{/users/{userId}/makeAdmin(userId=${user.getId()})}"
                                                      method="post">
                                                    <button type="submit"
                                                            class="d-flex align-items-center text-muted me-4"
                                                            style="background: none; padding: 0; border: none">
                                                        <a class="dropdown-item d-flex align-items-center"
                                                           href="javascript:"><i
                                                                data-feather="edit-2" class="icon-sm me-2"></i> <span
                                                                class="">Make Admin</span></a>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <i class="icon-lg text-muted pb-3px" th:if="${user.isAdmin()}"
                               data-feather="award" style="color: blueviolet"></i>
                            <a th:if="${user.isAdmin()}" style="color: blueviolet" th:text="${'Admin'}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- core:js -->
<script src="../static/vendors/core/core.js" th:src="@{/vendors/core/core.js}"></script>
<!-- endinject -->

<!-- Plugin js for this page -->
<script src="../static/vendors/flatpickr/flatpickr.min.js" th:src="@{/vendors/flatpickr/flatpickr.min.js}"></script>
<script src="../static/vendors/apexcharts/apexcharts.min.js"
        th:src="@{/vendors/apexcharts/apexcharts.min.js}"></script>
<script src="../static/js/flatpickr.js" th:src="@{/js/flatpickr.js}"></script>


<!-- End plugin js for this page -->

<!-- inject:js -->
<script src="../static/vendors/feather-icons/feather.min.js"
        th:src="@{/vendors/feather-icons/feather.min.js}"></script>
<script src="../static/js/template.js" th:src="@{/js/template.js}"></script>
<!-- endinject -->
<script src="../static/js/dashboard-light.js" th:src="@{/js/dashboard-light.js}"></script>

<!-- core:js -->
<!-- End plugin js for this page -->

<!-- inject:js -->
<!-- endinject -->

<!-- Custom js for this page -->
<!-- End custom js for this page -->
</body>
</html>