<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact Us</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- End fonts -->
    <!-- Add your CSS styles here (similar to User Page) -->
    <!-- core:css -->
    <link rel="stylesheet" href="../static/vendors/core/core.css" th:href="@{/vendors/core/core.css}">
    <link rel="stylesheet" href="../static/fonts/feather-font/css/iconfont.css"
          th:href="@{/fonts/feather-font/css/iconfont.css}">
    <link rel="stylesheet" href="../static/vendors/flag-icon-css/css/flag-icon.min.css"
          th:href="@{/vendors/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" href="../static/css/demo1/style.css" th:href="@{/css/demo1/style.css}">

    <link rel="shortcut icon" href="../static/images/favicon.png" th:href="@{/images/favicon.png}">

    <!-- You can include additional CSS or custom styles as needed -->

</head>
<body class="sidebar-dark">
<div class="main-wrapper">

    <nav class="sidebar"
         th:replace="${isAuthenticated} ? ~{UserPage.html :: sidebar} : ~{HomeView.html :: sidebarNotLogged}">
    </nav>

    <!-- Main Content -->
    <div class="page-wrapper">
        <nav class="navbar navbar-dark bg-primary"
             th:replace="${isAuthenticated} ? ~{UserPage.html :: navbar} : ~{HomeView.html :: navbarNotLogged}">
        </nav>

        <!-- Content Section -->
        <div class="page-content">
            <div class="container">
                <h1>Contact Us</h1>
                <br>
                <section>
                    <p>
                    <section>
                        <p>
                            Have questions or suggestions?
                        <p> Our team is always here to assist you.
                            Feel free to reach out to us at <strong><a href="mailto:admins.cryptoforum@gmail.com">admins.cryptoforum@gmail.com</a></strong>
                            for inquiries, feedback, or support.
                        <p> We're just an email away, and we value your input as we continuously improve our forum.
                        </p>


                    </section>
                    <!-- Include your contact form or information here -->
                </section>
            </div>
        </div>
    </div>
</div>

<script src="../static/vendors/core/core.js" th:src="@{/vendors/core/core.js}"></script>
<script src="../static/vendors/feather-icons/feather.min.js"
        th:src="@{/vendors/feather-icons/feather.min.js}"></script>
<script src="../static/js/template.js" th:src="@{/js/template.js}"></script>

</body>
</html>

