<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forum System</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- End fonts -->

    <!-- core:css -->
    <link rel="stylesheet" href="../static/vendors/core/core.css">
    <!-- endinject -->

    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->

    <!-- inject:css -->
    <link rel="stylesheet" href="../static/fonts/feather-font/css/iconfont.css"
          th:href="@{/fonts/feather-font/css/iconfont.css}">
    <link rel="stylesheet" href="../static/vendors/flag-icon-css/css/flag-icon.min.css"
          th:href="@{/vendors/flag-icon-css/css/flag-icon.min.css}">
    <!-- endinject -->

    <!-- Layout styles -->
    <link rel="stylesheet" href="../static/css/demo1/style.css" th:href="@{/css/demo1/style.css}">
    <!-- End layout styles -->

    <link rel="shortcut icon" href="../static/images/favicon.png" th:href="@{/images/favicon.png}">
</head>
<body class="sidebar-dark">
<div class="main-wrapper">

    <!-- partial:../../partials/_sidebar.html -->
    <nav class="sidebar" th:fragment="sidebar-not-logged">
        <div class="sidebar-header">
            <a href="#" class="sidebar-brand">
                Forum<span>System</span>
            </a>
            <div class="sidebar-toggler not-active">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="sidebar-body">
            <ul class="nav">
                <li class="nav-item nav-category">Info</li>


                <li class="nav-item">
                    <a href="../templates/AboutUs.html" th:href="@{/about}" class="nav-link">
                        <i class="link-icon" data-feather="box"></i>
                        <span class="link-title">AboutUs</span>
                    </a>
                </li>


                <li class="nav-item">
                    <a href="../templates/ContactUs.html" class="nav-link">
                        <i class="link-icon" data-feather="box"></i>
                        <span class="link-title" th:href="@{/contact}">ContactUs</span>
                    </a>
                </li>

                <!--        TODO navigation bar left -->

            </ul>
        </div>
    </nav>
    <!--    navbar-->
    <div class="page-wrapper">
        <nav class="navbar navbar-dark bg-primary">
            <nav class="navbar navbar-light bg-light">
                <form class="d-flex ms-auto">
                    <div class='myDiv'>
                        <a th:href="@{/auth/login}" class="btn btn-primary" style='margin-right:16px'>Login</a>
                        <a th:href="@{/auth/register}" class="btn btn-primary" style='margin-right:16px'>Register</a>
                    </div>
                </form>
            </nav>
        </nav>
        <!--page content-->
        <div class="page-content">
            <div class="row">
                <div>
                    <h2 class="d-flex mb-3 mb-md-3 justify-content-center">Welcome to CryptoForum</h2>
                </div>
            </div>
            <div class="row">
                <!--                TODO add statistic for users-->
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-baseline">
                                <h6 class="card-title mb-0">Number of customers</h6>
                                <div class="dropdown mb-2">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 col-md-12 col-xl-5">
                                    <h3 class="mb-2"  th:text="${allUsers.size()}">3,897</h3>
                                </div>
                                <div class="col-6 col-md-12 col-xl-7">
                                    <div id="customersChart" class="mt-md-3 mt-xl-0"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-baseline">
                                <h6 class="card-title mb-0">Number of posts</h6>
                                <div class="dropdown mb-2">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 col-md-12 col-xl-5">
                                    <h3 class="mb-2"  th:text="${allPosts.size()}">3,897</h3>
                                </div>
                                <div class="col-6 col-md-12 col-xl-7">
                                    <div id="customersChart1" class="mt-md-3 mt-xl-0"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5 col-xl-6 grid-margin grid-margin-xl-0 stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-baseline mb-2">
                                <h2><span class="badge rounded-pill bg-primary">Top 10 recently created posts</span>
                                </h2>
                            </div>


                            <div class="d-flex flex-column">
                                <div th:if="${recentlyAddedPosts.isEmpty()}">
                                    <h3 class="text-muted mt-3">No Posts</h3>
                                </div>
                                <div th:each="post : ${recentlyAddedPosts}">
                                    <a href="PostView.html" th:attr="href=@{'/posts/' + ${post.id}}"
                                       class="d-flex align-items-center border-bottom pb-3">
                                        <div class="me-3">
                                            <img src="https://via.placeholder.com/35x35" class="rounded-circle wd-35"
                                                 alt="user">
                                        </div>
                                        <div class="w-100">
                                            <div class="d-flex justify-content-between">
                                                <h6 class="text-body mb-2 mt-2" th:text="${post.getTitle()} ">
                                                    Title</h6>
                                                <p class="text-muted tx-12 mt-2"
                                                   th:text="${#temporals.format(post.getCreatedAt(), 'dd-MM-yyyy HH:mm')}">
                                                    CreatedAt</p>

                                            </div>
                                            <p style="max-width: 500px;text-overflow: ellipsis; white-space: nowrap;
                                            overflow: hidden" class="text-muted tx-13" th:text="${post.getContent()}">
                                                Content
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-6 grid-margin grid-margin-xl-0 stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-baseline mb-2">
                                <h2><span class="badge rounded-pill bg-primary">Top 10 most commented posts</span></h2>
                            </div>
                            <div class="d-flex flex-column">
                                <div th:if="${topCommented.isEmpty()}">
                                    <h3 class="text-muted mt-3">No Posts</h3>
                                </div>
                                <div th:each="post : ${topCommented}">
                                    <a href="javascript:" th:attr="href=@{'/posts/' + ${post.id}}"
                                       class="d-flex align-items-center border-bottom pb-3">
                                        <div class="me-3">
                                            <img src="https://via.placeholder.com/35x35" class="rounded-circle wd-35"
                                                 alt="user">
                                        </div>
                                        <div class="w-100">
                                            <div class="d-flex justify-content-between">
                                                <h6 class="text-body mb-2 mt-2" th:text="${post.getTitle()}">Title</h6>
                                                <p class="text-muted tx-12 mt-2"
                                                   th:text="${#temporals.format(post.getCreatedAt(), 'dd-MM-yyyy HH:mm')}">
                                                    CreatedAt</p>
                                            </div>
                                            <p style="max-width: 500px;text-overflow: ellipsis; white-space: nowrap;
                                        overflow: hidden" class="text-muted tx-13" th:text="${post.getContent()}">
                                                Content</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- partial:../../partials/_footer.html -->
        <footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between px-4 py-3 border-top small">
        </footer>
        <!-- partial -->

    </div>
</div>

<!-- core:js -->
<script src="../static/vendors/core/core.js" th:src="@{/vendors/core/core.js}"></script>
<!-- endinject -->

<!-- Plugin js for this page -->
<!-- End plugin js for this page -->

<!-- inject:js -->
<script src="../static/vendors/feather-icons/feather.min.js" th:src="@{/vendors/feather-icons/feather.min.js}"></script>
<script src="../static/js/template.js" th:src="@{js/template.js}"></script>
<!-- endinject -->

<!-- Custom js for this page -->
<!-- End custom js for this page -->
</body>
</html>