<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>CryptoForum</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- End fonts -->

    <!-- core:css -->
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <!-- endinject -->

    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->


    <!--  <link rel="shortcut icon" href="../assets/images/favicon.png" />-->
</head>
<body>

<div class="main-wrapper">
    <div class="page-wrapper full-page">
        <div class="page-content d-flex align-items-center justify-content-center">

            <div class="row w-100 mx-0 auth-page">
                <div class="col-md-8 col-xl-6 mx-auto">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-4 pe-md-0">
                                <div class="auth-side-wrapper">

                                </div>
                            </div>
                            <div class="col-md-8 ps-md-0">
                                <div class="auth-form-wrapper px-4 py-5">
                                    <a href="#" class="noble-ui-logo d-block mb-2">Crypto<span>Forum</span></a>
                                    <h5 class="text-muted fw-normal mb-4">Welcome back! Log in to your account.</h5>
                                    <form class="forms-sample" th:action="@{/auth/login}" th:object="${login}" method="post">

                                        <div class="mb-3">
                                            <label for="Username" class="form-label">Username</label>
                                            <input type="text" th:field="*{username}" class="form-control" id="Username"
                                                   placeholder="Username">
                                            <label class="error" th:errors="*{username}"> Username error placeholder
                                            </label>
                                        </div>

                                        <div class="mb-3">
                                            <label for="userPassword" class="form-label">Password</label>
                                            <input type="password" th:field="*{password}" class="form-control"
                                                   id="userPassword"
                                                   autocomplete="current-password" placeholder="Password">
                                            <label style="color: red" class="error" th:errors="*{password}"> Password error placeholder
                                            </label>
                                        </div>
                                        <div>
<!--                                            <a th:href="@{/}"-->
<!--                                               class="btn btn-primary me-2 mb-2 mb-md-0 text-white">Login</a>-->
                                            <button class="btn btn-primary me-2 mb-2 mb-md-0 text-white"> Login</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>