<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Profile information</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- End fonts -->

    <!-- core:css -->
    <!-- core:css -->
    <link rel="stylesheet" href="../static/vendors/core/core.css" th:href="@{/vendors/core/core.css}">
    <!-- endinject -->

    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <link rel="stylesheet" href="../static/vendors/flatpickr/flatpickr.min.css"
          th:href="@{/vendors/flatpickr/flatpickr.min.css}">
    <!-- inject:css -->
    <link rel="stylesheet" href="../static/fonts/feather-font/css/iconfont.css"
          th:href="@{/fonts/feather-font/css/iconfont.css}">
    <link rel="stylesheet" href="../static/vendors/flag-icon-css/css/flag-icon.min.css"
          th:href="@{/vendors/flag-icon-css/css/flag-icon.min.css}">
    <!-- endinject -->

    <!-- Layout styles -->
    <link rel="stylesheet" href="../static/css/demo1/style.css" th:href="@{/css/demo1/style.css}">
    <!-- End layout styles -->


    <link rel="shortcut icon" href="../static/images/favicon.png" th:href="@{/images/favicon.png}">
</head>
<body class="sidebar-dark">
<div class="main-wrapper">

    <!-- partial:../../partials/_sidebar.html -->
    <nav class="sidebar" th:replace="~{UserPage.html :: sidebar}">
    </nav>


    <div class="navbar-content">
        <div class="page-wrapper">
            <nav class="navbar navbar-dark bg-primary">
                <nav class="navbar navbar-light bg-light">
                    <form class="d-flex ms-auto">
                        <div class='myDiv'>
<!--                            <a href="UserPage.html" th:href="@{/users}" class="btn btn-primary"-->
<!--                               style='margin-right:16px'>Back to home page</a>-->
                            <a href="HomeView.html" th:href="@{/auth/logout}" class="btn btn-primary"
                               style='margin-right:16px'>Log out</a>
                        </div>
                    </form>
                </nav>
            </nav>

            <div class="page-content">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="position-relative">
                                <figure class="overflow-hidden mb-0 d-flex justify-content-center">
                                    <img src="https://t3.ftcdn.net/jpg/04/12/82/16/360_F_412821610_95RpjzPXCE2LiWGVShIUCGJSktkJQh6P.jpg"
                                         class="rounded-top" alt="profile cover" style="width: 1400px; height: 300px;">
                                </figure>
                                <div class="d-flex justify-content-between align-items-center position-absolute top-90 w-100 px-2 px-md-4 mt-n4">
                                    <div>
                                        <img class="wd-70 circle" th:src="${user.getProfilePhoto()}" alt="profile">
                                        <span class="h3 ms-3 text-dark" th:text="${user.getFirstName()+' '+ user.getLastName()}"></span>
                                    </div>

                                    <div class="d-none d-md-block">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center p-3 rounded-bottom">
                                <ul class="d-flex align-items-center m-0 p-0">
                                    <li class="d-flex align-items-center active">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-columns me-1 icon-md text-primary">
                                            <path d="M12 3h7a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-7m0-18H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h7m0-18v18"></path>
                                        </svg>
                                        <a class="pt-2px d-none d-md-block text-primary" href="#" th:href="@{/users/profile}">Timeline</a>
                                    </li>
                                    <li class="ms-3 ps-3 border-start d-flex align-items-center">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-user me-1 icon-md">
                                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                            <circle cx="12" cy="7" r="4"></circle>
                                        </svg>
                                        <a th:href="@{/users/update}" class="pt-2px d-none d-md-block text-body" href="#">Edit profile</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row profile-body">

                        <div class="d-none d-md-block col-md-4 col-xl-3 left-wrapper">
                            <div class="card rounded">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <h1 class="card-title larger-text">About</h1>
                                        <div class="dropdown">

                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <label class="tx-15 fw-bolder mb-0 text-uppercase">Joined:</label>
                                        <p class="text-muted">September 15, 2023</p>
                                    </div>
                                    <div class="mt-3">
                                        <label class="tx-15 fw-bolder mb-0 text-uppercase">Email:</label>
                                        <p class="text-muted" th:text="${user.getEmail()}"></p>
                                        <div class="mt-3">
                                            <label class="tx-15 fw-bolder mb-0 text-uppercase">Posts:</label>
                                            <p class="text-muted" th:text="${user.getUsersPosts().size()}"></p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div>
                            </div>
                        </div>
                        <div class="col-md-6 align-items-center justify-content-center">
                            <div th:each="post : ${user.getUsersPosts()}">
                                <div class="col-md-12 grid-margin">
                                    <div class="card rounded">
                                        <div class="card-header">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <img class="img-xs rounded-circle"
                                                         src="https://via.placeholder.com/37x37"
                                                         alt="">
                                                    <div class="ms-2">
                                                        <p th:text="${post.getTitle()}">Title</p>
                                                        <p class="tx-11 text-muted"
                                                           th:text="${#temporals.format(post.getCreatedAt(), 'dd-MM-yyyy HH:mm')}">
                                                            CreatedAt</p>
                                                    </div>
                                                </div>

                                                <div class="dropdown" th:if="${post.createdBy.equals(loggedIn)==true || loggedIn.isAdmin() ==true}">
                                                    <a type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="icon-lg pb-3px" data-feather="more-horizontal"></i>
                                                    </a>


                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                                        <form th:action="@{/posts/{postId}/update(postId=${post.getId()})}" method="get">
                                                            <button type="submit" class="d-flex align-items-center text-muted me-4"
                                                                    style="background: none; padding: 0; border: none">
                                                                <a class="dropdown-item d-flex align-items-center" href="javascript:">
                                                                    <i data-feather="edit" class="icon-sm me-2"></i> <span class="">Edit</span></a>
                                                            </button>
                                                        </form>

                                                        <form th:action="@{/posts/{postId}/delete(postId=${post.getId()})}" method="post">
                                                            <button type="submit" class="d-flex align-items-center text-muted me-4"
                                                                    style="background: none; padding: 0; border: none">
                                                                <input type="hidden" value="" name="path">
                                                                <a class="dropdown-item d-flex align-items-center" href="javascript:">
                                                                    <i data-feather="delete" class="icon-sm me-2"></i> <span class="">Remove</span></a>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>



                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <p class="mb-3 tx-14" th:text="${post.getContent()}">Content of the post</p>
                                        </div>
                                        <div class="card-footer">
                                            <div class="d-flex post-actions">
                                                <form th:action="@{/posts/{postId}/like(postId=${post.getId()})}"
                                                      method="post">
                                                    <input type="hidden" value="users" name="path">
                                                    <button type="submit" class="d-flex align-items-center text-muted me-4"
                                                            style="background: none; padding: 0; border: none">
                                                        <i class="icon-md" th:if="${post.isLikedByUser(user) == true}"
                                                           th:attr="data-feather='thumbs-down'"
                                                           data-feather="thumbs-down"></i>
                                                        <i class="icon-md" th:if="${post.isLikedByUser(user) == false}"
                                                           th:attr="data-feather='thumbs-up'" data-feather="thumbs-up"></i>
                                                        <p class="d-none d-md-block ms-2"
                                                           th:text="${post.isLikedByUser(user) ? 'Downvote' : 'Upvote'}">
                                                            Like</p>
                                                    </button>
                                                </form>
                                                <a href="PostView.html" th:attr="href=@{'/posts/' + ${post.id}}"
                                                   class="d-flex align-items-center text-muted me-4">
                                                    <i class="icon-md" data-feather="link"></i>
                                                    <p class="d-none d-md-block ms-2">View Post</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
</div>


<script src="../static/vendors/core/core.js" th:src="@{/vendors/core/core.js}"></script>
<script src="../static/vendors/apexcharts/apexcharts.min.js" th:src="@{/vendors/apexcharts/apexcharts.min.js}"></script>
<script src="../static/vendors/feather-icons/feather.min.js"
        th:src="@{/vendors/feather-icons/feather.min.js}"></script>
<script src="../static/js/template.js" th:src="@{/js/template.js}"></script>

</body>
</html>